extends ./app

block mainStyles
  link(rel="stylesheet", href="/css/header.css")
  block styles

block body
  nav.navbar
    .wrapper.navbar-wrapper
      a.navbar-logo(href="/") Xandron3
      ul.navbar-menu.navbar_menu
        li.navbar_menu-item.menu_item
          a(href="/", class=path === '/' ? "menu_item-link menu_item-link--active" : "menu_item-link") Home
        li.navbar_menu-item.menu_item
          a(href="/about",  class=path === '/about' ? "menu_item-link menu_item-link--active" : "menu_item-link") About

block main
  .wrapper
    .card
      .card-header.card_header
        span.card_header-title #{cardTitle}
      .card-body
        block content